html, body
    background-color: whiteSmoke    
    font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5, h6
    font-family: 'Open Sans', sans-serif

.navbar
    border-radius: 0 !important

.nav > li
    line-height: 30px !important

    > a:hover
        background-color: whiteSmoke

a.navbar-brand
    color: #ffffff

#alliance
    text-align: center
    h1 img
        vertical-align: baseline
    h2#motto
        font-size: 1em
        font-weight: 400

#map-wrapper
    background-color: #d8dde8
    border-top: 2px solid darken(#d8dde8, 20)
    border-bottom: 2px solid darken(#d8dde8, 20)
    
    #map
        height: 350px

#stats
    margin-top: 20px
    
    p#alliance-description
        text-align: justify

    #alliance-chart
        min-height: 300px

    #join
        text-align: center
        margin-bottom: 5px
.node
    stroke: #fff;
    stroke-width: 1.5px

.link
    stroke: #999;
    stroke-opacity: .6

.bar
    fill: #d8dde8
    stroke: darken(#d8dde8, 20)
    stroke-width: 1px