html,
body {
  background-color: whiteSmoke;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  border-radius: 0 !important;
}
.nav > li {
  line-height: 30px !important;
}
.nav > li > a:hover {
  background-color: whiteSmoke;
}
a.navbar-brand {
  color: #fff;
}
#alliance {
  text-align: center;
}
#alliance h1 img {
  vertical-align: baseline;
}
#alliance h2#motto {
  font-size: 1em;
  font-weight: 400;
}
#map-wrapper {
  background-color: #d8dde8;
  border-top: 2px solid #98a5c2;
  border-bottom: 2px solid #98a5c2;
}
#map-wrapper #map {
  height: 350px;
}
#stats {
  margin-top: 20px;
}
#stats p#alliance-description {
  text-align: justify;
}
#stats #alliance-chart {
  min-height: 300px;
}
#stats #join {
  text-align: center;
  margin-bottom: 5px;
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
.link {
  stroke: #999;
  stroke-opacity: 0.6;
}
.bar {
  fill: #d8dde8;
  stroke: #98a5c2;
  stroke-width: 1px;
}
