<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>I Whip My Slaves Back And Forth Stats - Fweddit.com</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/home/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/home/static/font-awesome.min.css">
        <link rel="stylesheet" href="/home/static/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="/home/static/js/lodash.min.js"></script>
        <script src="http://d3js.org/d3.v3.js"></script>
        <script src="/home/static/script.js"></script>
    </head>
    <body>
        <header>
            <div class="navbar navbar-inverse">
                <div class="container">
                    <a href="#" class="navbar-brand">J4LP</a>
                    <ul class="nav">
                        <li><a href="http://reddit.com/r/fweddit">Subreddit</a></li>
                        <li><a href="http://fweddit.com/auth">Auth</a></li>
                        <li><a href="http://fweddit.com/forum">Forum</a></li>
                        <li><a href="http://fweddit.com/wiki">Wiki</a></li>
                        <li><a href="http://fweddit.com/kb">KillBoard</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container">
            <div id="alliance">
                <h1><img src="http://image.eveonline.com/Alliance/99002172_30.png" alt="I Whip my Web Admins Back And Forth"> I Whip My Slaves Back And Forth</h1>
                <h2 id="motto">The Reddit Eve Online Faction Warfare Alliance</h2>
            </div>
        </div>
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
        <div class="container" id="stats">
            <div class="row">
                <div class="col col-lg-4">
                    <h4>Alliance</h4>
                    <p id="alliance-description">It all started with Fweddit, created at the beginning of Summer 2012, after an initiave in the /r/eve subreddit and quickly grew up to become I Whip My Slaves Back And Forth (J4LP), the biggest Faction Warfare alliance in Eve Online.</p>
                    <div id="alliance-chart"><span class="loading">Loading Alliance...</span></div>
                </div>
                <div class="col col-lg-4">
                    <h4>Kills</h4>
                    <p>This month:</p>
                    <ul>
                        <li>Total kills: {{total_kills}}</li>
                        <li>Total kills value: {{total_kills_isk}} ISK</li>
                        <li>Total losses: {{total_losses}}</li>
                        <li>Total losses value: {{total_losses_isk}} ISK</li>
                    </ul>
                    <p>Last kills</p>
                    <ul id="last-kills">
                        {% for kill in last_kills %}
                            <li><a href="{{kill.url}}">{{kill.victimShipName}} for {{kill.ISK_format}} ISK</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col col-lg-4">
                    <h4>Links</h4>
                    <p>Fweddit is our main corporation, PVPing all day, and its main requirements is that you come from Reddit.</p>
                    <div id="join"><a href="http://fweddit.com/wiki/index.php/Getting_Started" class="btn">Get Started</a></div>
                    <ul>
                        <li><a href="http://reddit.com/r/fweddit">Subreddit</a></li>
                        <li><a href="http://fweddit.com/forum">Forum</a></li>
                        <li><a href="http://fweddit.com/wiki">Wiki</a></li>
                        <li><a href="http://fweddit.com/kb">Killboard</a></li>
                        <li><a href="http://fweddit.com/auth">Auth</a></li>
                    </ul>
                    <p>J4LP comes with all the tools you expect from a big alliance: Jabber (real time chat) and Mumble (real time voice comms) are available as well as a full featured Auth platform, Forum, Wiki and of course, a Killboard. There's a lot of US players, but Eurobros are welcome !</p>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12">
                         <p>Lovingly crafted by Vadrin Hegirin, using Bootstrap 3, D3 & Bottle.</a></p>
                    </div>
                </div>
            </div>           
        </footer>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33491732-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    </body>
</html>
